body{
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
	background-color: #FCF6E3;
}

h1{
	font-size: 2 em;
	font-family: 'sketsa-ramadhan-alternates';
	color: #F3C320;
	letter-spacing: 10px;
	line-height: 10px;
	padding-left: 80px;
}

@font-face {
    font-family: 'sketsa-ramadhan-alternates';
    src: url('sketsa-ramadhan-alternates.woff') format('woff'),
         url('sketsa-ramadhan-alternates.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: goldenrod;
}

h2 {
	font-size: 1 em;
	font-family: 'baskerville';
	color: #97856A;
	letter-spacing: 30px;
	margin-left: 10px; margin-bottom: 5px; margin-top: 10px;letter-spacing: 1px;
	line-height: 1px;
	padding-left: 80px;

background-image: src="assets/background_history.png" alt="background_history" 