body{
	
	font-family: 'Roboto', sans-serif;
	background-color: #FCF6E3;
	text-align: center;
	padding: centered;
	line-height: 30px;
	
	
  

}
 p{
	
	font-family:  'baskerville';;
	background-color: #FCF6E3;
	text-align: left;
	padding: 20px;
	line-height: 30px;
	width: 30em;
	float: left;
	width: 50vw; 
	height: auto;
	max-height:  40vw;
	

}

h1{
	font-size: 6em;
	font-family: 'sketsa-ramadhan-alternates';
	color: #F3C320;
	letter-spacing: -1px;
	line-height: 10px;
	padding-left: 80px;
	padding-top: 20px;
	text-align: center;
	padding: centered;
	line-height: 1px;
	
}

@font-face {
    font-family: 'sketsa-ramadhan-alternates';
    src: url('sketsa-ramadhan-alternates.woff') format('woff'),
         url('sketsa-ramadhan-alternates.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: goldenrod;
}

h2 {
	font-size: 1 em;
	font-family: 'baskerville';
	color: #97856A;
	letter-spacing: 30px;
	margin-left: 10px; margin-bottom: 5px; margin-top: 10px;letter-spacing: 1px;
	line-height: 0px;
	padding-left: 80px;
	padding-top: 0 px;
	text-align: center;
	padding: centered;
	line-height: 60px;
}


.body1{
	max-width: 120%;
	float: left; 
	font-family: 'baskerville';
	margin-left: 10px; margin-bottom: 5px; margin-top: 10px;letter-spacing: 1px;
	line-height: 30px;
	font-size: 1 em;
}
.body2{
	max-width: 70%;
	float: right;
	margin-left: 20px; margin-bottom: 50px; margin-top: -30px;letter-spacing: 1px;
	line-height: 0px;
	padding-left: 80px;
	padding-top: -40 px;
	text-align: left;
	line-height: 30px;
	font-size: 1 em;
	width: 40vw;
	font-family: 'baskerville';

	
	}


.image1 { 
	float: left;
	
	max-width: auto;
	width: auto;
	height: 430px;
	position: relative;

	left: -145%;
	margin-top: -40%;
	
}

.image2 { 
	float: right;
	max-width: auto;
	width: auto;
	height: 670px;
	position: relative;
	left: 10%;
	top: 50%;
	
}




